@model IEnumerable<WebAdminHecsa.Models.TblEmpresaFiscales>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreFiscal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegimenFiscal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoPostal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdColonia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colonia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalidadMunicipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstatusRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreFiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegimenFiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdColonia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colonia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalidadMunicipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstatusRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEmpresaFiscales">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEmpresaFiscales">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEmpresaFiscales">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
