@model IEnumerable<WebAdminHecsa.Models.TblClienteDirecciones>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.IdTipoDireccion)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.TipoDireccionDesc)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.Calle)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.CodigoPostal)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.IdColonia)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.Colonia)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.LocalidadMunicipio)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.Estado)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.IdEstatusRegistro)
            </th>
             <td style="text-align:center"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.IdTipoDireccion)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.TipoDireccionDesc)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.IdColonia)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Colonia)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.LocalidadMunicipio)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.IdEstatusRegistro)
            </td>
            <td style="text-align:center">
                <a asp-action="Edit" asp-route-id="@item.IdClienteDirecciones">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdClienteDirecciones">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdClienteDirecciones">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
