@model IEnumerable<WebAdminHecsa.Models.TblProveedorContacto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.NombreProveedorContacto)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.IdProveedor)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.NombreProveedor)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
             <td style="text-align:center">
                @Html.DisplayNameFor(model => model.IdEstatusRegistro)
            </th>
             <td style="text-align:center"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.NombreProveedorContacto)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.IdProveedor)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.NombreProveedor)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.IdEstatusRegistro)
            </td>
            <td style="text-align:center">
                <a asp-action="Edit" asp-route-id="@item.IdProveedorContacto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProveedorContacto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProveedorContacto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
