@model WebAdminHecsa.Models.TblCotizacionGeneral

@{
    ViewData["Title"] = "Crear Cotizacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">HECSA</li>
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Catálogos</li>
        <li class="breadcrumb-item">Cotizacion</li>
        <li class="breadcrumb-item">Control de Cotizacion</li>
        <li class="breadcrumb-item active" aria-current="page">Crear Cotizacion</li>
    </ol>
</nav>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="IdEmpresaFiscales" class="control-label"></label>
                <select id="drpEmpresaFiscalese" class="form-select statesSelect" asp-for="IdEmpresaFiscales" asp-items="@(new SelectList(ViewBag.ListaEfiscales,"IdEmpresaFiscales","NombreFiscal"))">
                    <option value="">SELECCIONAR</option>
                </select>
                <span asp-validation-for="IdEmpresaFiscales" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select id="idListaCliente" class="form-select statesSelect" asp-for="IdCliente" asp-items="@(new SelectList(ViewBag.ListaCliente,"IdCliente","NombreCliente"))">
                    <option value="">SELECCIONAR</option>
                </select>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
        </div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NombreFiscal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NombreFiscal)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EmpresaGeneral)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmpresaGeneral)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EmpresaContacto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmpresaContacto)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NombreCliente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NombreCliente)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RFCCliente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RFCCliente)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MediosCliente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MediosCliente)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DireccionCliente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DireccionCliente)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DireccionContacto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DireccionContacto)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClienteContacto)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClienteContacto)
            </dd>
        </dl>
        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-secondary">Regresar</a>
        </div>

    </div>
</form>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>
    $(document).ready(function () {
        $(".statesSelect").select2();
    });
</script>
}
