@model WebAdminHecsa.Models.CatProducto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CatProductos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoInterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoInterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoExterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoExterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMarca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMarca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarcaDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarcaDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadMinima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadMinima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoPrecio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoPrecio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeGanancia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeGanancia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCosto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCosto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstatusRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstatusRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProducto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
