@model IEnumerable<WebAdminHecsa.Models.CatEstatus>

@{
    ViewData["Title"] = "Estatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">HECSA</li>
        <li class="breadcrumb-item">Información</li>
        <li class="breadcrumb-item">Catálogos</li>
        <li class="breadcrumb-item">Estatus</li>
        <li class="breadcrumb-item active" aria-current="page">Control de Estatus</li>
    </ol>
</nav>
<p>
    @if (ViewBag.EstatusFlag = true)
    {
        <a type="submit" class="btn btn-outline-primary" asp-action="Create" value="Nuevo" title="Nuevo"><i class="fas fa-plus"></i> Nuevo</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EstatusDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstatusRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstatusDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstatusRegistro)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEstatus" class="btn btn-warning" title="Editar"><i class="far fa-edit"></i></a>

                    <a asp-action="Delete" asp-route-id="@item.IdEstatus" class="btn btn-danger" title="Desactivar"><i class="fas fa-toggle-off"></i></a>
                    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Insert</button>*@
                </td>
        </tr>
}
    </tbody>
</table>
